* { 
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial;
}

h1,h2,h3 {
	padding-top: 5px;
	padding-bottom: 5px;
}

body {
	background-color: #BEBEBE;
	color: #606060;
	text-align: center;
	font-size: 14px;
	font-family: "helvetica neue", arial, helvetica, "lucida grande"; }
}

.description {
	max-width: 650px;
}

.bodyContent {
	margin: auto;
	width: 800px;
	background-color: #DEDEDE;
	padding: 5px;
	text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bodyContent h1, h2, h3, a, p, ul, table {
    color: #2E2E2E;
}

a {
 	text-decoration: none;
}

a:hover {
	color: #f1f1f1;
	text-decoration: underline;
}

span.twitter-ref {
	color: #ffff22;
}

.error {
	background-color: #FF2222;
	color: #FFFFFF;
	padding: 15px;
	margin: 15px;
}

.header {
	color: #FEFEFE;
	padding-top: 15px;
    padding-bottom: 25px;
    background-color: #252525;
}

.header a, .header p {
    color: #FEFEFE;
}

.footer {
	padding-top: 25px;
    padding-bottom: 25px;
    background-color: #252525;
}

.footer a, .footer p {
    color: #FEFEFE;
}


p {
	padding-top: 5px;
	padding-bottom: 5px;
}

.applicationTitle {
	color: #ffffff;
}

.standardForm {
	
}

.standardForm .label {
	float: left;
	width: 100px;
	overflow-x: none;
	color: #101010;
	font-weight: bold;
}

.standardForm input {
	width: 250px;
}

.standardForm input.action {
	
}

span.username {
	color: #ffffff;
}

.timeline {
	padding-top: 10px;
	width: 800px;
}

.timeline .timestamp {
	float: left;
	width: 150px;
	overflow-x: none;
}

.timeline .message {
	float: right;
	width: 650px;
}

.clear {
	clear: both;
}

.screenname {
	font-weight: bold;
}

.userlist {
	width: 800px;
}

.userlist img {
	width: 50px;
	padding-right: 5px;
	float: left;
}

.userlist .screenname {
	width: 250px;
	float: left;
}

.userlist .name {
	width: 250px;
	float: left;
}

.userlist .description {
	width: 800px;
}

ul {
	padding-left: 50px;
}